body {
  font-family: "Saira", sans-serif;
}

#root {
  background-image: url("/assets/kaaliz.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  margin: 0px 20px;
  overflow: hidden;
}

.title-header {
  font-size: 6rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

#header-wrapper {
  padding: 10px 50px 10px 50px;
  border-bottom: 10px solid #fff;
}

@media screen and (max-width: 830px) {
  #header-wrapper {
    padding: 10px 30px 10px 30px;
  }
  .title-header {
    font-size: 4rem;
  }
}

.contact-details {
  font-size: 1.3rem;
  color: #b8b3af;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}
